#contact{
    margin: 50px auto;
    width: 600px;
    padding: 30px 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact_text{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
}

#contact_area{
    margin-bottom: 20px;
    width: 100%;
    resize: none;
}

#contact_submit{
    width: 100%;
    height: 50px;
    font-size: 20px;
}

#footer {
    margin-top: 45px;
    padding: 40px 0;
    background-color: #515151;
    color: white;
}

#copyright {
    text-align: center;
}

