<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/back_nav.css">
    <link rel="stylesheet" type="text/css" href="css/back_main.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/respond.js"></script>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <header id="header" class="clearfix">
        <a href="back_login.html"><input id="login_cancel" class="btn btn-default" type="button" name="" value="注销"></a>
        <div id="person">
            <a href="back_admin.html">
                <img src="img/person.jpg" alt="" id="person_img">
                <span id="person_name">admin</span>
            </a>
        </div>
    </header>
    <aside id="aside">
        <header id="aside_head">后台管理</header>
        <nav id="nav">
            <a href="back_main.html" class="nav_link now_link">首页</a>
            <a href="back_admin.html" class="nav_link">管理员设置</a>
            <a href="back_rural.html" class="nav_link">乡村管理</a>
            <a href="back_text.html" class="nav_link">文章管理</a>
            <a href="back_user.html" class="nav_link">用户管理</a>
            <a href="back_message.html" class="nav_link">消息处理</a>
        </nav>
    </aside>
    <section id="main">
        <div id="main_header" class="clearfix">
            <div class="main_sec">
                <p>乡村总量</p>
                <p>20</p>
            </div>
            <div class="main_sec">
                <p>文章总量</p>
                <p>130</p>
            </div>
            <div class="main_sec">
                <p>用户总量</p>
                <p>10</p>
            </div>
        </div>
        <div id="main_view">
            <div class="view_line">
                <div class="view_time">时间</div>
                <div class="view_number">浏览量</div>
            </div>
            <div class="view_line">
                <div class="view_time">一月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">二月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">三月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">四月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">五月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">六月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">七月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">八月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">九月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">十月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">十一月</div>
                <div class="view_number">2000</div>
            </div>
            <div class="view_line">
                <div class="view_time">十二月</div>
                <div class="view_number">2000</div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/back_main.js"></script>
</body>

</html>